.navbar{
    background-color: #616161 !important;
    height: auto;
 
}
.nav-link  {
    color: burlywood !important;
    font-weight: bold;
}

.logo{
    height: 90px;
    width: 90px;
      
}

.fa-shopping-cart , .fa-user-circle{
    font-size: 32px;
    color: burlywood;
}
.carousel-item{
    height: 520px;
}